@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.navimg{
    width: 50px;
    border-radius: 50%;
}
.navbar-brand{
    margin-left: 20px;
}
.carousel-item img{

    width: 100%;
    height: 95vh;
}
.carousel-caption {
    position: absolute;
    font-family: 'Roboto Slab', serif;
    right: 15%;
    bottom: 16.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    font: bold;
}
.con{
    margin-top: 47px;
    box-shadow: 4px 3px 14px gray;
    cursor: pointer;
    border-radius: 3%;
}
.con:hover{
    box-shadow:4px 3px 27px gray ;
}
.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 164px;
    bottom: -50px;
}
.para{
    font-size: 1.3rem;
    line-height: 38px;
}
.img1{
    width: 150px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 16px;
    cursor: pointer;
}
.details{
    margin-top: 16px;
}
b{
    font-size: 18px;
}
.skillf{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 94%;
}
.myservice{
    position: relative;
}
.myservice::before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 162px;
    bottom: -12px;
}
.con1{
    box-shadow: 2px 4px 14px gray;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3%;
}
.con1:hover{
    box-shadow: 2px 4px 44px gray;

}

.web1{
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.web1:hover{
    border-radius: 2px solid rgb(26, 149, 206);
    transform: rotate(180deg);
    transition:width 2s height 4s ;
}
.para1{
    font-size: 17px;
    line-height: 20px;
}

.web2{
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    cursor: pointer;
    
}
.web2:hover{
    box-shadow: 0px 0px 25px gray;
}
.center{
    margin-left: 43px;
}
.myteam{
    position: relative;
}
.myteam::before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 140px;
    bottom: -12px;
}

.center1{
    margin-left: 55px;
}
.con2{
    box-shadow: 3px 5px 20px gray;
    cursor: pointer;
    border-radius: 3%;
}
.con2:hover{
    box-shadow: 3px 5px 80px gray;
}
.con3{
    box-shadow: 2px 3px 20px gray;
    margin-bottom: 10px;
}
.title-left{
    position: relative;
}
.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 215px;
    bottom: -8px;
}
.title-left1{
    position: relative;
    margin-left: 20px;
}
.title-left1:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 150px;
    bottom: -8px;
}

.btn{
    display: block;
    margin: auto;
    border-radius: 5rem;
}
.fa-check-circle{
    display: none;
}
.fa-exclamation-circle{
    display: none;
}
.fa-map-marker{
    color: #0078ff;
}
.black{
    color: rgb(80, 71, 71);
    margin-left: 20px;
    font-size: 20px;
}
.fa-phone{
    transform: rotate(86deg);
    color: #0078ff;
}
.fa-envelope{
    color: #0078ff;
}
.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
}
.socials ul li{
    list-style-type: none;
}
.ion-social-facebook:before {
    content: "\f231";
}
.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
}
.con4{
    background-color: #0078ff;
}
.copyright{
    padding: 4px;
    margin-top: 10px;
    align-items: center;
}


